<div class="container text-center mt-5">
  <h2>Bienvenido!</h2>

  <form (submit)="crearNuevaPersona()" class="form-container">
    <div class="form-row mb-3">
      <label for="dni" class="col-form-label">DNI:</label>
      <input type="text" id="dni" [(ngModel)]="nuevaPersona.dni" class="form-control" required>
    </div>

    <div class="form-row mb-3">
      <label for="nombre" class="col-form-label">Nombre:</label>
      <input type="text" id="nombre" [(ngModel)]="nuevaPersona.nombre" class="form-control" required>
    </div>

    <div class="form-row mb-3">
      <label for="telefono" class="col-form-label">Teléfono:</label>
      <input type="text" id="telefono" [(ngModel)]="nuevaPersona.telefono" class="form-control" required>
    </div>

    <div class="form-row mb-3">
      <label for="email" class="col-form-label">Correo Electrónico:</label>
      <input type="text" id="email" [(ngModel)]="nuevaPersona.email" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary create-person-button" [disabled]="!camposCompletos()">Crear Persona</button>
  </form>

  <div *ngIf="personaSeleccionada" class="form-container">
    <h3>Editar Persona</h3>
    <div class="form-row mb-3">
      <label for="edit-dni" class="col-form-label">DNI:</label>
      <input type="text" id="edit-dni" [(ngModel)]="personaSeleccionada.dni" class="form-control" required>
    </div>

    <div class="form-row mb-3">
      <label for="edit-nombre" class="col-form-label">Nombre:</label>
      <input type="text" id="edit-nombre" [(ngModel)]="personaSeleccionada.nombre" class="form-control" required>
    </div>

    <div class="form-row mb-3">
      <label for="edit-telefono" class="col-form-label">Teléfono:</label>
      <input type="text" id="edit-telefono" [(ngModel)]="personaSeleccionada.telefono" class="form-control" required>
    </div>

    <div class="form-row mb-3">
      <label for="edit-email" class="col-form-label">Correo Electrónico:</label>
      <input type="text" id="edit-email" [(ngModel)]="personaSeleccionada.email" class="form-control" required>
    </div>

    <button type="button" class="btn btn-success update-button" (click)="guardarCambios()" [disabled]="!camposCompletosUpdate()">Guardar Cambios</button>
  </div>

  <div class="table-container mt-4">
    <table class="table">
      <thead>
        <tr>
          <th>DNI</th>
          <th>Nombre</th>
          <th>Teléfono</th>
          <th>Correo Electrónico</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let persona of personas">
          <td>{{ persona.dni }}</td>
          <td>{{ persona.nombre }}</td>
          <td>{{ persona.telefono }}</td>
          <td>{{ persona.email }}</td>
          <td>
            <button class="btn btn-warning update-button" (click)="editarPersona(persona)">Editar</button>
            <button class="btn btn-danger delete-button" (click)="borrarPersona(persona.dni)">Borrar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
