body, html {
  height: 100%;
  margin: 0;
}

body {
  background-color: #a3e9a4 !important;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.center-container {
  text-align: center;
  width: 100%;
}

.container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-container {
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.form-container .form-row label {
  margin-right: 10px;
  width: 20px;
}

.form-container .form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.form-container .form-row label {
  margin-right: 50px;
  width: 120px;
}

.form-container input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.table-container {
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.update-button, .delete-button, .create-person-button {
  margin-right: 5px;
}
