<div class="center-container">
  <div class="container login-container">
    <h2>Bienvenido!</h2>

    <form (submit)="crearNuevaPersona()">
      <label for="dni">DNI:</label>
      <input type="text" id="dni" [(ngModel)]="nuevaPersona.dni" required>

      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" [(ngModel)]="nuevaPersona.nombre" required>

      <label for="telefono">Teléfono:</label>
      <input type="text" id="telefono" [(ngModel)]="nuevaPersona.telefono" required>

      <label for="email">Correo Electrónico:</label>
      <input type="text" id="email" [(ngModel)]="nuevaPersona.email" required>

      <button type="submit" class="create-person-button">Crear Persona</button>
    </form>

    <div class="table-container">
      <table class="table spaced-table">
        <thead>
          <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Correo Electrónico</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let persona of personas">
            <td>{{ persona.dni }}</td>
            <td>{{ persona.nombre }}</td>
            <td>{{ persona.telefono }}</td>
            <td>{{ persona.email }}</td>
            <td>
              <button class="update-button" (click)="actualizarPersona(persona)">Actualizar</button>
              <button class="delete-button" (click)="borrarPersona(persona.dni)">Borrar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
