<div class="center-container">
  <form class="container" [formGroup]="formularioLogin">
    <h2>Inicio de sesion</h2>

    <div class="form-group">
      <label>Nombre de usuario: </label>
      <input
        class="input-field"
        type="text"
        formControlName="usuario" 
        [ngClass]="{
          errorCSS:
            formularioLogin.get('usuario')?.touched &&
            formularioLogin.get('usuario')?.value === ''
        }"
      />
    </div>

    <div class="form-group">
      <label>Contraseña: </label>
      <input
        class="input-field"
        type="password"
        formControlName="clave" 
        [ngClass]="{
          errorCSS:
            formularioLogin.get('clave')?.touched &&
            formularioLogin.get('clave')?.value === ''
        }"
      />
    </div>

    <div align="center">
      <button
        (click)="submit()"
        [disabled]="formularioLogin.invalid"
      >
        Iniciar Sesión
      </button>
    </div>

    <p
      align="center"
      style="color: red"
      *ngIf="
        formularioLogin.get('usuario')?.touched &&
        formularioLogin.get('clave')?.touched &&
        (formularioLogin.get('usuario')?.value === '' ||
          formularioLogin.get('clave')?.value === '')
      "
    >
      Por favor, complete todos los campos del formulario.
    </p>
  </form>
</div>
